body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.entry-result img {
  width: 44px;
}

.entry-result .entry-login {
  font-size: 18px;
  font-family: inherit;
  font-weight: 500;
  line-height: 42px;
}
